@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple-primary: #0b0852;
  --purple-secondary: #06063f;
  --purple-tertiary: #5561ea;
  --orange-primary: #f33f5a;
  --gold-primary: #f9a239;
  --white: #fff;
  --gray: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  outline-color: transparent;
  box-sizing: border-box;
}

html {
  background-color: var(--purple-primary);
}

body {
  color: var(--white);
  font-family: "Poppins", sans-serif;
  @apply text-xs md:text-sm xl:text-base;
}

.universal {
  @apply px-12 lg:px-32 xl:px-56;
}

.main_btn {
  @apply font-medium py-2 px-4 rounded outline outline-1 outline-[var(--orange-primary)] bg-[var(--purple-primary)] hover:bg-[var(--purple-tertiary)] hover:shadow-lg transition duration-300 ease-in-out;
}

nav ul li:hover {
  color: var(--orange-primary);
  cursor: pointer;
}

/* header {
  height: 70vh;
  background-color: #5561ea;
} */

.name {
  color: var(--orange-primary);
}

.name span {
  background-color: var(--orange-primary);
  color: var(--white);
  margin: 0 2px;
  padding: 0 1px;
}
